<nav class="navbar">
    <div class="nav-center">
        <img src="/assets/images/logo.svg"/>
        <app-hamburger></app-hamburger>
    </div>
    <!-- links -->
    <ul class="links">
        <li>Professional experience</li>
        <li>Personal projects</li>
        <li>Education</li>
    </ul>

    <ul class="social-icons">
        <li>
            <a href="https://twitter.com">
                <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
        </li>
        <li>
            <a href="https://linkedIn.com">
                <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
        </li>
    </ul>
    
</nav>
